/* 重置 */

@import "sass/reset";
@import "sass/top";
@import "sass/footer";


/* 公共 */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-table;
}



/* Hides from IE-mac \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}



/* End hide from IE-mac */

.fl {
  float: left;
}

.fr {
  float: right;
}

.w {
  width: 1210px;
  margin: 0 auto;
  position: relative;
}

body {
  font: 12px/1 "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
  background-color: #f5f5f5;
}

.line-through {
  text-decoration: line-through;
}

.mb6 {
  margin-bottom: 6px;
}

.mt6 {
  margin-top: 6px;
}

/* 边框 */

.border-1-f6{
  border: 1px solid #f6f6f6;
}

.border-t-1-f6 {
  border-top: 1px solid #f6f6f6;
}

.border-r-1-f6 {
  border-right: 1px solid #f6f6f6;
}

.border-b-1-f6 {
  border-bottom: 1px solid #f6f6f6;
}

.border-l-1-f6 {
  border-left: 1px solid #f6f6f6;
}



.border-1-999 {
  border: 1px solid #999;
}

.border-t-1-999 {
  border-top: 1px solid #999;
}

.border-r-1-999 {
  border-right: 1px solid #999;
}

.border-b-1-999 {
  border-bottom: 1px solid #999;
}

.border-l-1-999 {
  border-left: 1px solid #999;
}



.border-t-1-01994b {
  border-top: 1px solid #01994b;
}

.border-t-1-2196f3 {
  border-top: 1px solid #2196f3;
}

.border-t-1-e53935 {
  border-top: 1px solid #e53935;
}


/* 背景色 */

.bgc-fff {
  background-color: #fff;
}

.bgc-ff6700{
  background-color: #ff6700;
}

.bgc-e53935{
  background-color: #e53935;
}



/* 小图标 */

.ico-arrow-d {
  margin-left: 8px;
  display: inline-block;
  width: 9px;
  height: 5px;
  background: url(../images/icons/Arrow-1.png) no-repeat;
}

.ico-phone-app {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icons/Icon-mobilephone.png) no-repeat;
}


/* 公用边距及字体 */

@import "sass/spacing";
@import "sass/fontSize";
@import "sass/fontColor";