/* 边框 */

$border-1:#f6f6f6;
$border-2:#999;
$border-3:#01994b;
$border-4:#2196f3;
$border-5:#e53935;
$border-6:#e8e8e8;
$border-7:#e6e6e6;


.border-1 {
  border: 1px solid $border-1;
}

.border-1-t {
  border-top: 1px solid $border-1;
}

.border-1-r {
  border-right: 1px solid $border-1;
}

.border-1-b {
  border-bottom: 1px solid $border-1;
}

.border-1-l {
  border-left: 1px solid $border-1;
}
//
//
//
.border-2 {
  border: 1px solid $border-2;
}

.border-2-t {
  border-top: 1px solid $border-2;
}

.border-2-r {
  border-right: 1px solid $border-2;
}

.border-2-b {
  border-bottom: 1px solid $border-2;
}

.border-2-l {
  border-left: 1px solid $border-2;
}
//
//
//
.border-3 {
  border: 1px solid $border-3;
}

.border-3-t {
  border-top: 1px solid $border-3;
}

.border-3-r {
  border-right: 1px solid $border-3;
}

.border-3-b {
  border-bottom: 1px solid $border-3;
}

.border-3-l {
  border-left: 1px solid $border-3;
}
//
//
//
.border-4 {
  border: 1px solid $border-4;
}

.border-4-t {
  border-top: 1px solid $border-4;
}

.border-4-r {
  border-right: 1px solid $border-4;
}

.border-4-b {
  border-bottom: 1px solid $border-4;
}

.border-4-l {
  border-left: 1px solid $border-4;
}
//
//
//
.border-5 {
  border: 1px solid $border-5;
}

.border-5-t {
  border-top: 1px solid $border-5;
}

.border-5-r {
  border-right: 1px solid $border-5;
}

.border-5-b {
  border-bottom: 1px solid $border-5;
}

.border-5-l {
  border-left: 1px solid $border-5;
}
//
//
//
.border-6 {
  border: 1px solid $border-6;
}

.border-6-t {
  border-top: 1px solid $border-6;
}

.border-6-r {
  border-right: 1px solid $border-6;
}

.border-6-b {
  border-bottom: 1px solid $border-6;
}

.border-6-l {
  border-left: 1px solid $border-6;
}
//
//
//
.border-6 {
  border: 1px solid $border-7;
}

.border-6-t {
  border-top: 1px solid $border-7;
}

.border-6-r {
  border-right: 1px solid $border-7;
}

.border-6-b {
  border-bottom: 1px solid $border-7;
}

.border-6-l {
  border-left: 1px solid $border-7;
}